/**************

This stylesheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier / .block--modifier

**************/

/* Blocks ***********************************************************/

.header {
	width: 100%;
	background-color: #2c3e50;
	position: fixed;
	z-index: 100;
}

.banner {
	width: 100%;
	background-color: #34495e;
	margin-top: -43px;
	position: relative;
	top: 80px;
}

.container {
	width: 100%;
	
}

.menu {
	background-color: #2c3e50;
  	margin: 0;
  	overflow: hidden;
}

/* Elements *********************************************************/

.menu__ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__item {
  display: inline-block;
  list-style-type: none;
}

.menu__link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: block;
  line-height: 3em;
  padding: 1em 3em;
  text-decoration: none;
  border-bottom-style: solid;
  border-color: #2c3e50;
  border-size: 1px;
}

.menu__link:hover {
  border-bottom-style: solid;
  border-color: lightgrey;
  border-size: 1px;
}

.banner__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	color: white;
	text-align: center;
	padding-top: 30px;
	margin-bottom: -10px;
}

.banner__subtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}

.banner__list{
	display: inline;
}

.banner__item{
	padding: 20px;
	display: inline-block;
  	list-style-type: none;
}

.banner__image{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.feed {
	height: 1500px;
	background-image: url("/img/hero.jpg");
	background-position: center; 
	background-size: cover;
}

.feed__list {
	margin: 0;
	padding: 75px;
}

.feed__link {
	color: #2c3e50;
	font-size: 1.8em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: block;
	text-decoration: none;
	border-style: solid;
	border-color: #e7e7e7 ;
	border-size: 1px;
	margin: 25px;
	padding: 20px 0px;
	background-color: #e7e7e7 ;
	opacity: 0.9;
}

.feed__icon {
	margin-left: 25px;
}

.feed__item {
	list-style-type: none;
	display: inline-block;
	margin-left: 80px;
}

.feed__poster {
	list-style-type: none;
	display: inline-block;
	font-size: 24px;
	position: absolute;
	left: 80%;
}

.feed__image {
	width: 35px;
	display: inline-block;
	height: 35px;
	border-radius: 50%;
	margin-left: -60px;
}

.feed__urlimage {
	height: 200px;
	max-width: 800px;
	border-radius: 5px;
	margin-top: 10px;
}

.feed__question {
	background-color: #e7e7e7;
	margin: 50px;
	padding: 20px 50px;
	list-style-type: none;
	font-family: 'Montserrat', sans-serif;
}



.feed__answer {
	background-color: #efefef;
	list-style-type: none;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	border-radius: 5px
}


.form {
	margin-top: 200px;
	text-align: center;
}

.form__title {
	padding: 0px 20%;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}

.form__field {
	width: 40%;
	padding: 20px 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 500;
	font-size: 1.5em;
	margin: 40px;
}



/* Modifiers ********************************************************/

.menu__item--first-child {
  margin-right: auto;
}

.menu__link--logo {
	font-weight: 700;
}

.feed__link--locked {
	color: #2c3e50;
	font-size: 1.8em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: block;
	text-decoration: none;
	border-style: solid;
	border-color: gray;
	border-size: 1px;
	margin: 25px;
	padding: 20px 0px;
	background-color: gray ;
	opacity: 0.7;
}

.feed__image--large {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.feed__question--title {
	margin-bottom: -10px;
	padding-left: 40px;
}

.feed__question--subtitle {
	margin-bottom: 40px;
	margin-top: -10px;
	padding-left: 100px;
}

.form__button--submit {
	padding: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.7em;
	background-color: #34495e;
	border: none;
	cursor: pointer;

}

.form__button--submit:hover {
	padding: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.7em;
	background-color: #34495e;
	border: none;
	cursor: pointer;
	opacity: 0.9;
}

.form__button--login {
	width: 37%;
	margin-top: 20px;
	padding: 1%;
	color: white;
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.7em;
	background-color: #34495e;
	border: none;
	cursor: pointer;
}

.form__button--login:hover {
	width: 37%;
	margin-top: 20px;
	padding: 1%;
	color: white;
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.7em;
	background-color: #34495e;
	border: none;
	cursor: pointer;
	opacity: 0.9
}

.form__button--fb {
	width: 37%;
	margin-top: 20px;
	padding: 1%;
	color: white;
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.7em;
	background-color: #3B5998;
	border: none;
	cursor: pointer;
}

.form__button--question {
	padding: 19.8px 50px;
	color: white;
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.7em;
	background-color: #34495e;
	border: none;
	cursor: pointer;

}

.form__link--fb {
	text-decoration: none;
	color: white;
	padding: 2% 40%;
}

.form__field--duo {
	display: block;
	width: 35%;
	padding: 1%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 500;
	font-size: 1.5em;
	margin: 30px auto ;
}

.form__field--left {
	width: 40%;
	padding: 20px 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-weight: 500;
	font-size: 1.5em;
	margin: 40px;
}

.form__title--decoration {
	color: #34495e;
	text-decoration: none;
	font-weight: 600;
}

.form_notify--error {
	position: absolute;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	width: 37%;
	height: 40px;
	left: 0;
	right: 0;
	margin: 80px auto;
	padding-top: 20px;
	background-color: #e74c3c;
	opacity: 0.8;
	color: white;
	border-radius: 1%;
}

.form--bgcolor {
	background-color: #e7e7e7;
	padding-bottom: 30px;
	margin-top: 100px;
}

.form__button--lock {
	border: none;
	font-family: 'Montserrat', sans-serif;
	padding: 15px;
	border-radius: 4px;
	background-color: #e74c3c;
	color: white;
	cursor: pointer;
}

.form__button--unlock {
	border: none;
	font-family: 'Montserrat', sans-serif;
	padding: 15px;
	border-radius: 4px;
	background-color: #2ecc71;
	color: white;
	cursor: pointer;
}

